@import 'assets/sass/reset';
@import "assets/sass/load-fonts";
@import "assets/sass/variables";

body {
  background-color: #9f9f9f4f;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: $c-wh;
}

.side {
  padding-right: 0;
}