@import 'assets/sass/reset';

.body {
  background-color: #9f9f9f4f;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.container1 {
  background: red;
}

.container2 {
  background: blue;
}