@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap");

@font-face {
    font-family: "FSJoeyBold";
    font-display: swap;
    src: url('../fonts/fs-joey/FSJoey-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "FSJoeyMedium";
    font-display: swap;
    src: url('../fonts/fs-joey/FSJoey-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "FSJoeyRegular";
    font-display: swap;
    src: url('../fonts/fs-joey/FSJoey-Regular.ttf') format("truetype");
}
