// colors
$c-dr: #575756;
$c-gr: #eee;
$c-gr-m: rgb(223, 223, 223);
$c-gr-d: #8188aa;
$c-wh: #fff;
$c-bl: #000;
$c-1: #0033A0;
$c-2: #00aec7;
$c-3: #e3e829;
$c-err: #f44336;

// fonts
$f-ppal-r: 'FSJoeyRegular';
$f-ppal-m: 'FSJoeyMedium';
$f-ppal-b: 'FSJoeyBold';
$f-second: 'Barlow';